#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 72px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2b9e03ad-1227-47ea-b421-b4d8726a2019 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}