#s-3a1277bc-7f9a-4ded-9211-08ef1b94f113 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1277bc-7f9a-4ded-9211-08ef1b94f113 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1277bc-7f9a-4ded-9211-08ef1b94f113 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1277bc-7f9a-4ded-9211-08ef1b94f113 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1277bc-7f9a-4ded-9211-08ef1b94f113 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1277bc-7f9a-4ded-9211-08ef1b94f113 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a1277bc-7f9a-4ded-9211-08ef1b94f113 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}