#s-7f18afdc-df68-43c3-ad00-5769e6cf9b9e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f18afdc-df68-43c3-ad00-5769e6cf9b9e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f18afdc-df68-43c3-ad00-5769e6cf9b9e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f18afdc-df68-43c3-ad00-5769e6cf9b9e #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f18afdc-df68-43c3-ad00-5769e6cf9b9e #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f18afdc-df68-43c3-ad00-5769e6cf9b9e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}