#s-c34a9b83-98c3-44d1-9e2c-19c6e1505750 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c34a9b83-98c3-44d1-9e2c-19c6e1505750 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c34a9b83-98c3-44d1-9e2c-19c6e1505750 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c34a9b83-98c3-44d1-9e2c-19c6e1505750 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c34a9b83-98c3-44d1-9e2c-19c6e1505750 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c34a9b83-98c3-44d1-9e2c-19c6e1505750 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c34a9b83-98c3-44d1-9e2c-19c6e1505750 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}