#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Image_11 {
  position: absolute;
  top: 208px;
  left: 0px;
  width: 507px;
  height: 376px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Image_2 {
  position: absolute;
  top: 208px;
  left: 517px;
  width: 507px;
  height: 376px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 131px;
  background-color: #CCCCCC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Image_1 {
  position: absolute;
  top: 13px;
  left: 15px;
  width: 286px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Image_3 {
  position: absolute;
  top: 701px;
  left: 0px;
  width: 1025px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Image_4 {
  position: absolute;
  top: 621px;
  left: 808px;
  width: 52px;
  height: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Image_5 {
  position: absolute;
  top: 621px;
  left: 742px;
  width: 52px;
  height: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Image_6 {
  position: absolute;
  top: 621px;
  left: 937px;
  width: 52px;
  height: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Image_7 {
  position: absolute;
  top: 621px;
  left: 873px;
  width: 52px;
  height: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_4 {
  position: absolute;
  top: 46px;
  left: 893px;
  width: 72px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_1 {
  position: absolute;
  top: 621px;
  left: 29px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_2 {
  position: absolute;
  top: 643px;
  left: 29px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_3 {
  position: absolute;
  top: 665px;
  left: 29px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_4 {
  position: absolute;
  top: 161px;
  left: 29px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_4 span#rtr-s-Text_4_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Category_1 {
  position: absolute;
  top: 161px;
  left: 839px;
  width: 150px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Category_1 .valign {
  width: 132px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_6 {
  position: absolute;
  top: 232px;
  left: 671px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Image_8 {
  position: absolute;
  top: 283px;
  left: 578px;
  width: 88px;
  height: 120px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Image_9 {
  position: absolute;
  top: 283px;
  left: 736px;
  width: 81px;
  height: 120px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Image_10 {
  position: absolute;
  top: 283px;
  left: 878px;
  width: 95px;
  height: 120px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_2 {
  position: absolute;
  top: 421px;
  left: 578px;
  width: 84px;
  height: 116px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_3 {
  position: absolute;
  top: 421px;
  left: 733px;
  width: 84px;
  height: 116px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_4 {
  position: absolute;
  top: 421px;
  left: 882px;
  width: 84px;
  height: 116px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_5 {
  position: absolute;
  top: 465px;
  left: 594px;
  width: 47px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_5 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_6 {
  position: absolute;
  top: 465px;
  left: 898px;
  width: 47px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_6 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_7 {
  position: absolute;
  top: 465px;
  left: 749px;
  width: 47px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_7 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_7 {
  position: absolute;
  top: 232px;
  left: 127px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_6 {
  position: absolute;
  top: 283px;
  left: 366px;
  width: 84px;
  height: 116px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_9 {
  position: absolute;
  top: 327px;
  left: 382px;
  width: 47px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_9 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_9 span#rtr-s-Button_9_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_7 {
  position: absolute;
  top: 283px;
  left: 213px;
  width: 84px;
  height: 116px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_10 {
  position: absolute;
  top: 327px;
  left: 229px;
  width: 47px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_10 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_10 span#rtr-s-Button_10_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_8 {
  position: absolute;
  top: 421px;
  left: 43px;
  width: 84px;
  height: 116px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_11 {
  position: absolute;
  top: 465px;
  left: 59px;
  width: 47px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_11 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_11 span#rtr-s-Button_11_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_9 {
  position: absolute;
  top: 421px;
  left: 213px;
  width: 84px;
  height: 116px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_12 {
  position: absolute;
  top: 465px;
  left: 229px;
  width: 47px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_12 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_12 span#rtr-s-Button_12_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Image_12 {
  position: absolute;
  top: 282px;
  left: 43px;
  width: 87px;
  height: 122px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_10 {
  position: absolute;
  top: 421px;
  left: 366px;
  width: 84px;
  height: 116px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_13 {
  position: absolute;
  top: 465px;
  left: 382px;
  width: 47px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_13 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 #s-Button_13 span#rtr-s-Button_13_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e711c090-c1ea-4da9-a0f4-a206fa6ab0a7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}